.category-div {
    margin-left: 10vw;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
}

.category-div>a {
    margin-right: 35px;
}
.cat {
    width: 10vw;
    height: 10vw;
    background-color: rgb(52, 11, 58);
    margin: auto;
    border-radius: 150px;
    background-size: cover;
    border: 3px solid rgb(52, 11, 58);
}

.cat:hover {
    border-color: rgb(142, 25, 142);
}

.cat:hover~h2 {
    color: rgb(115, 23, 115);
}

.catp {
    margin: auto;
}



#cat1 {
    background-image: url('../images/mjeans.webp');
}

#cat2 {
    background-image: url('../images/mshirts.webp');
}

#cat3 {
    background-image: url('../images/fkurta.webp');
}

#cat4 {
    background-image: url('../images/fjeans.webp');
}

#cat5 {
    background-image: url('../images/fshirt.webp');
}

#cat6 {
    background-image: url('../images/mtshirt.webp');
}
@media screen and (max-width:500px) {
    .catp>h2 {
        font-size: 12px;
        }
        
        .category-div {
        
            margin-left: 5px;
        }
                                .category-div>a {
                                    margin-right: 15px;
                                }
    .cat {
        width: 50px;
            height: 50px;
        border: 0.2px solid rgb(52, 11, 58);
    }
}