.sidebar {
    width: 230px;
}

.sortbtn {
    right: 40px;
    bottom: 5px;
}

.sortbtn .btn {
    width: 84px;
    height: 24px;
    font-weight: 400;
    padding: 1px 0px;
    margin: 3px 0px;
    border-radius: 2px;
}

.sortbtn .btn i {
    margin: 0px 3px;
    font-size: 0.8rem;

}

.sortbtn .btn:hover {
    background-color: rgb(239, 239, 239);
    color: black;
}

.sortbtn .btn:active {
    background-color: rgb(239, 239, 239);
    color: black;
}

.dropdown-item:active {
    background-color: rgb(36, 13, 44);
    color: white;
}

.dropdown-item:hover {
    background-color: rgb(36, 13, 44);
    color: white;
}


.pricefilterh,
.ratfilter {
    font-weight: 600;
    font-size: 16px;
}

.Pricefilter-h ul li {
    list-style: none;
    font-weight: 400;
}

.Pricefilter-h ul li i {
    font-size: 10.4px;
    color: rgb(66, 56, 68);
}

.Pricefilter-h ul li:hover {
    color: rgb(79, 8, 149);
    cursor: pointer;
}

.Pricefilter-h ul li:hover i {
    color: rgb(79, 8, 149);
}

.size-list {
    width: 35px;
    height: 25px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 3px;
    text-align: center;
    padding: 1px 2px;
}

.size-list:hover {
    background-color: rgb(223, 223, 223);
}

.color-list {
    width: 50px;
    height: 25px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 3px;
    text-align: center;
    padding: 1px 2px;
}



.star-li {
    font-size: 14px;
    list-style: none;
    margin: 4px 2px;
}

.star-indi-ico {
    color: rgb(205, 80, 80);
    font-size: 18px;
    margin-right: 3px;
}

.unfilled {
    color: rgb(176, 176, 176);
    font-size: 18px;
    margin-right: 3px;

}

.productlisting-sub-div {
    margin-left: 30px;
    flex-wrap: wrap;
}

.bottombar {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.filter-sort-btn {
    width: 50vw;
    height: 50px;
    padding: 3px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    border: none;
    border-right: 0.9px solid rgb(239, 239, 239);
        border-radius: 2px;
        font-size: 16px;
    }
    
    .filter-sort-btn>i {
        font-size: 14px;
        margin-right: 10px;
        margin-left: -10px;
    }
    
    .offcanvas-body2 ul li {
        list-style: none;
        height: 25px;
        margin: 2px;
        padding: 2px 10px;
    }
    
    .offcanvas-body2 ul {
        margin-left: -30px;
        margin-top: -10px;
    }
    
    .offcanvas-body2 ul li a {
        color: black;
        font-size: 16px;
    
    }
    
    .offcanvas-body2 ul li a input {
        margin-right: 5px;
    }
    
    
    .offcanvas-body ul li:hover {
        background-color: aliceblue;
}

@media screen and (max-width:700px) {
    .sidebar {
        display: none;
    }

    .sortbtn {
        display: none;
    }

        .productlisting-sub-div {
            margin-left: 0px;
        }

        .bottombar {
        display: flex;
        }
        .topbar>h1 {
            margin-top: -20px;
            font-size: 14px;
        }

        .topbar>ul>li {
            font-size: 12px;
            margin-bottom: -15px;
        }
        }