.slide {
    width: 100vw;
    height: 50vh;
    margin-left: -14px;
}

.slidebox {
    width: 100vw;
    height: 50vh;
    margin-left: 0px;
    margin-top: -10px;
}
@media screen and (max-width:500px) {
    .slide {
        height: 130px;
    }

    .slidebox {
        height: 130px;
        margin-top: 0px;
    }
}