.slide {
    width: 100vw;
    height: 25vmax;
}

.slidebox {
    width: 100vw;
    height: 25vmax;
        margin-top: 5px;
    }
    
    .slider-main-div {
        flex-direction: column;
}
.category {
    display: none;
}
@media screen and (max-width:500px) {
    .slide {
        height: 180px;
    }

    .slidebox {
        height: 180px;
        margin-top: 0px;
    }
   .slider-main-div {
       flex-direction: column-reverse;
   }
   .category {
       display: flex;
   }
}